server:
  port: ${SERVER_PORT:8085}

spring:
  application:
    name: payment-service
  data:
    mongodb:
      uri: ${MONGODB_URI}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

stripe:
  api-key: ${STRIPE_API_KEY:${STRIPE_SECRET_KEY:}}
  webhook-secret: ${STRIPE_WEBHOOK_SECRET:}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true


springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
  api-docs:
    path: /v3/api-docs